*{
  padding:0;
  margin:0;
	background:#abd1ff;
}
body{
  width:100vw;
  height:100vh;
  display: flex;
	font-family:sans-serif; 
	font-style:oblique; 
}
h1{
  margin:auto;
  margin-top:80px;
}
.button{
  position:absolute;
  top:50%;
transform:translateY(-50%);
	text-decoration:none;
	background:#000;
	color:#fff;
	padding:20px 35px;
	font-size:20px;
	
	
		
}
#sí{
  left:20%;
	transform: translateY(-50%) translateX(-20%);
}
#no{
	left:80%;
	transform: translateY(-50%) translateX(-80%);
}